@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+Gve8f2u1lfofBll5xyO9v+IRq3w5Q3xJcF2AdXPDYMA5stw" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="card">
                    <div class="card-body">
                        <h1 class="text-center">@ViewData["Title"]</h1>
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" id="email">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" id="password">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirm Password</label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" id="confirmPassword">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button id="registerSubmit" type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js" integrity="sha384-vAfXRyjj5oZI8I/6DfDlJc2FHEPiM4r+2CKFBzTBf3N2c8AI6Vnd8k5yg5gNjwnqB" crossorigin="anonymous"></script>
</body>
</html>
